.htmlformulari{

  background-color: #a2a2a2
}

.index {
  color:#0c150f;
  text-decoration:bold;

}
h1 {
  color:white;
  text-decoration:underline;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
}

form {
  /* Just to center the form on the page */
margin: 0 auto;
width: 400px;
/* To see the outline of the form */
padding: 1em;
border: 2px solid #CCC;
background-color:white;

}

form div + div {
  margin-top: 1em

}

label {
  /* To make sure that all labels have the same size and are properly aligned */

  display: inline-block;
  width:50px;
  font-size: 18px;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
background-color:#f2f2f2;
  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  /* To harmonize the look & feel of text field border */
  border: #999 2px groove;

}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  text-align: center;
  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 65px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .1em;
  margin-right: .1em;
  background-color: #333333;
  font-weight: bold;
  font-family: Arial;
  border: 1px solid #CCC;
  color: white;
  padding: 15px 40px;
  text-align: center
  font-size: bold;
}

a {
color:black;
font-family: sans-serif;
font-size: 30px;
text-decoration: none;
}

div{
  position:relative;
  padding-left: 20px;
  width: 200px;
  border: 2px solid #CCC;
  border-color: black;
  padding-right: 20px;

}


}
