html {
    background-color: #E6E6FA;
}

#uno {
  width: 150px;
  height: 150px;
  background-color: #D8BFD8;
  text-align: right;
    border: 3px solid #999;

}

#dos{
  width: 150px;
  height: 150px;
  margin:auto;
  margin-left: 259px;
  margin-top: 10px;
  background-color: #ADD8E6;
    text-align: right;
  border: 3px solid #999;
}

#tres {
  width: 150px;
  height: 150px;
  background-color:#FA8072;
  margin:auto;
  margin-left: 519px;
  margin-top: 10px;
    text-align: right;
  border: 3px solid #999;
}

#cuatro {
  width: 150px;
  height: 150px;
  background-color:#E9967A;
  margin:auto;
  margin-left: 259px;
  margin-top: 10px;
    text-align: right;
  border: 3px solid #999;
}

#cinco {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  background-color:#FA8072;
  margin-left: auto;
  margin-bottom: auto;

  text-align: right;
  border: 3px solid #999;
}
