*{
  box-sizing: border-box;
}

body{
  margin:0;
  background: gray
}

nav{
  background: #594848;
  width:100%;
  overflow: auto;
}

ul{
  margin:0;
  padding:0;
  list-style: none;
}

li{
  float:left;
}

nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  background:#594848;
  font-size: 17px;
  color:white;
  padding:20px 10px;
  font-family:Arial;
}

nav a:hover{
  background: skyblue;
  color:black;
}

*{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin:auto;
  background:#f2f2f2;
  overflow:auto;
}

.galeria{
  margin:5px;
  border:1px solid #ccc;
  float: left;
  width: 390px;
}

.galeria img{
  width: 100%;
  height: auto;
}

.desc{
  padding: 15px;
  text-align: center;
}
