* {
  margin: 0;
  padding: 0;
}
body {
     font-family: Arial, sans-serif;
     font-size:0.9em;
     margin:0;

}
nav, section, article, aside, footer {
    padding:10px;
}
.mid{
    display:flex;
    width:100%;
    margin-top: 30px;
}

/*login */
header{
  padding: 25px;
  position: relative;
  height: 80px;
  background: #333;
  color:white;
}

.nompass{
  color:white;
  font-size: 16px;

}

.nompassForm{
  color:black;
  font-size: 16px;

}
  .h1Titol {
    font-size:3em;
    font-weight: bold;
    display: inline;

  }

  .formLogin{
    float:right;
    margin-right: 100px;
    letter-spacing: 1px;
    font-size: 17px;
  }

  input{
    padding:5px;
    font-size: 15px;
    font-family: Arial;
    border: none;
    margin: 8px 0px;
    background-color: #E2DFDF;
    border-radius: 5px;
    padding: 7px;
  }

  .select{
    padding:5px;
    font-size: 15px;
    font-family: Arial;
    border: none;
    margin: 8px 0px;
    width: 100%;
    background-color: #E2DFDF;
    border-radius: 5px;
    padding: 7px;
  }

.inputData{
  padding:5px;
  font-size: 15px;
  font-family: Arial;
  border: none;
  margin: 8px 0px;
  width: 100%;
  background-color: #E2DFDF;
  border-radius: 5px;
  padding: 7px;
}

 .inputLogin{
   background: orange;
   color:white;
   padding: 5px 15px;
   border-radius:0 5px 5px 0;
   cursor: pointer;
   font-weight: bold;
 }

 .inputLogin:hover{
   background: red;
 }



/* destacat */
.fotografia{
  position: relative;
  float: left;
}

.headerp{
  float:right;
}


section{
  width:70%;
  margin:0 auto;
}

.h1Destacat{
  color:#F3F3F3;
}

.aDestacat{
  color:#D3F074;
  font-weight: bold;
}

#img{
  float:right;
}
#img3{
  float:left;
}
#logo{
  width: 70%;
  margin-top:10px;
}
aside{
  width:20%;
   background-color: #363636;
}
.navMenu{
  left: 10px;
  width: 100%;
  padding: 0;
  font-weight: bold;
}

.navMenuHome{
  left: 10px;
  width: 10%;
  padding: 0;
  font-weight: bold;
}

.navmenuForm{
  left: 10px;
  width: 10%;
  padding: 0;
  font-weight: bold;
  margin-top:20px;
}
/*BOTONS DEL NAV HOME*/
ul{
  list-style: none;
}

#boto li>a{
  background-color: #FF2400;
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius:10px;
}


#boto li>a:hover{
  color: black;
  background: #FF7F00;
}

#boto li {
  text-align: center;
  position:relative;
}

.container{
  max-width: 1200px;
  margin:auto;
  background:#f2f2f2;
  overflow:auto;
}

.galeria{
  margin:5px;
  border:1px solid #ccc;
  float: left;
  width: 390px;
  height: 300px;
}

.galeria img{
  width: 100%;
  height: 250px;
}

.galeria2{
  margin:5px;
  border:1px solid #ccc;
  float: left;
}

.galeria2 img{
  width: 100%;

}



.galeria img:hover{
  position:absolute;
  height: 400px;
  width: 600px;
  padding-left: 10px;
}

.desc{
  padding: 15px;
  text-align: center;
}

.navHori a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color:white;
  padding:20px 10px;
  font-family:Arial;

}

.navHori a:hover{
  background: skyblue;
  color:black;
}

.liColaps{
  float:left;
}
/*FOOTER*/
footer
{
    background: linear-gradient(to right,#7EC0EE,#6CA6CD,#436EEE,#3A5FCD);
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.formBase{
  margin: 0 auto;
width: 800px;
padding:40px 40px;
box-sizing: border-box;
margin-top: 90px;
border-radius: 5px;
}

.textareaForm{
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  border:none;
  background-color: #E2DFDF;
  padding:10px;
}

legend{
font-weight: bold;
color:black;
font-size:23px;
padding: 0 5px;
margin: 0 auto;
}
/*-------------------------------------------------------------*/
@media screen and (max-width: 600px) {

     .mid{
      display: block;
      flex-flow: column;
     margin:0px;
     }
     header{
      padding-bottom: 20px;
     }
    section,aside,nav{
      width: 100%;
    }
    aside{
      height: 70px;
    }
    #img{
    width: 150px;
    }
    #img2{
      float:right;
      width: 100px;
    }
    #logo{
      width: 10%;
      float: left;
    }


    aside>p{
        display: none;
    }
    footer{
      position: relative;
    }

}
